###> phpstorm ###
/.idea/
###> phpstorm ###

###> docker database  + log nginx ###
/docker/database/
/logs/
###> docker database + log nginx ###

###> tests ###
/public/test/
###> tests ###

###> symfony/framework-bundle ###
/.env
/bin/*/
/bin/phpunit
/components/
/public/bundles/
/var/cache/
/var/log/
/vendor/*/
###< symfony/framework-bundle ###

###> migrations ###
/src/Migrations
###< migrations ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###